.card {
    width: 50vw;
    height: 50vh;
}

.card-container {
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23252C;
    color: white;
}