.card {
    width: 25vw;
    height: 25vh;
    max-width: 500px;
    max-height: 750px;
    margin-bottom: 25%;
}

.card-container {
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23252C;
    color: white;
}