.card {
    width: 25vw;
    height: 25vh;
    margin-top: 10%;
}

.card-body {
    background-color: #1A1B21;
}

.job-title {
    color: #F3BF99;
}

.site-link {
    color: white;
}

.card-footer {
    background-color: #161619;
}

.fa-footer {
    color: #918E9B;
}

.card-container {
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    background-color: #23252C;
    color: white;
}